@font-face{
    font-family: Poppins;
    src: url('../public/assets/web-fonts/Poppins-Regular.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
}

@import './scss/extends.scss';

body{
    font-family: Poppins !important;
    .enlace{
        text-decoration: none;
        color:black;
        font-weight: normal;
        &:hover{
            color:rgb(248, 145, 163) !important;
            transition: all 500ms ease-out;
        }
    }
}