.header{
    background-color: white;
    .header_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
        .header_container_navbar{
            display: flex;
            width: 80%;
            justify-content: space-between;
            align-items: center;
        }
    }
}



