.header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
    .header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_container_navbar{
            display: flex;
            width: 80%;
            justify-content: space-between;
            align-items: center;
        }
        .cartwidget{
            font-size: 1em;
            opacity: 1;
            transition: all 500ms ease-in-out;
        }
        .cartwidget-none{
            font-size: 0.01em;
            opacity: 0;
            transition: all 500ms ease-in-out;
        }
    }
}



