@import "../../scss/mixins";
@import "../../scss/extends";

.contactos__container{
    @include flexbox(flex, row wrap, space-around);
    flex:1;
    @media screen and (max-width:480px){
        @include flexbox(flex, column wrap, space-around);
    }
    .contactos__container__item{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h3{
            padding: 0.25em 0.5em;
            background: linear-gradient(black 0 0) top /100% 5% no-repeat,
            linear-gradient(black 0 0) bottom /100% 5% no-repeat,
            linear-gradient(black 0 0) left /var(--d,0%) 100% no-repeat;
            transition: all 500ms ease-out;
        }
        &:hover{
            h3{
            color:white;
            --d:100%;
            transition: all 500ms ease-out;
            }
        }
        li{
            overflow: hidden;
        }
    }
    .contactos__container__item--ubicacion{
        flex-grow: calc(0.75);
        overflow: hidden;
        &:hover iframe{
            @extend %box-shadow-negra;
            @extend %transition-general;
        }
        .contactos__container__item__map{
            border: 0;
        }
    }
}