.cart_producto_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    .nombreProducto{
        text-transform: capitalize;
        padding: 0.5em 0;
        text-decoration: underline;
    }
    img{
        width: 10%;
        @media screen and (max-width: 480px) {
            width: 25%;
        }
    }
}