@import '../../scss/_mixins';
@import '../../scss/_extends';

.itemContainer{
    @media screen and (max-width:480px){
        @include flexbox(flex, column wrap, space-around);
    }
    @include flexbox(flex, row wrap, space-around);
    margin: 0.1em;
    img{
        width: 100%;
        @media screen and (max-width:480px){
            height: auto;
            filter:none;
        }
        margin: 0.1em;
        filter: grayscale(60%);
        &:hover{
            @extend %box-shadow-negra;
            @extend %transition-general;
            filter: none;
        }
    }
}